<div class="inner">
    <header class="major">
    <h2 class="section-heading">Accomodations!</h2>
    <p >For your convenience we have blocked rooms at two hotels. 
        Please mention the Keyser/Trichter wedding when making your reservations. 
        Light rail from Denver airport to Union Station is convenient to either hotel. </p>

        <p>We will update this section when we have the hotel booked.</p>
     
        <h4 class="hotel-name"><a href="http://www.monaco-denver.com/?&mrkgcl=1147&mrkgadid=3191890953&rkg_id=h-9691fae0cecab9bf17f4d4cf3260dd66_t-1523322588&utm_source=google&utm_medium=cpc&utm_campaign=Brand-Hotel%2520Name_Exact&utm_term=kimpton%2520hotel%2520monaco%2520denver_58281260-VQ6-91340153572-VQ15-1t1-VQ16-c&adpos=1t1&creative=91340153572&device=c&matchtype=e&network=g">Kimpton Hotel Monaco</a></h4>
        <p> 1717 Champa Street <br/>
        <p> Denver, CO 80202 <br/>
        <p> 1-800-397-5380  <br/>
        <p> $208 per night and a slightly reduced parking rate. <br />
        <br />
        <br />
        </p>
    <a href="http://www.monaco-denver.com/?&mrkgcl=1147&mrkgadid=3191890953&rkg_id=h-9691fae0cecab9bf17f4d4cf3260dd66_t-1523322588&utm_source=google&utm_medium=cpc&utm_campaign=Brand-Hotel%2520Name_Exact&utm_term=kimpton%2520hotel%2520monaco%2520denver_58281260-VQ6-91340153572-VQ15-1t1-VQ16-c&adpos=1t1&creative=91340153572&device=c&matchtype=e&network=g" target="_blank" class="btn btn-default-primary btn-xl page-scroll">Book Kimpton Here</a>
    
    <h4 class="hotel-name"><a href="http://www.aloftdenverdowntown.com/">Aloft Downtown Denver</a></h4>
        <p> 800 15th Street  <br/>
        <p> Denver, CO 80202 <br/>
        <p> 1-877-462-5638  <br/>
        <p> $179 per night and a slightly reduced parking rate. <br />
        <br />
        <br />
        </p>
    <a href="https://www.starwoodmeeting.com/events/start.action?id=1804096414&key=2D6E48BF" target="_blank" class="btn btn-default-primary btn-xl page-scroll">Book Aloft Here</a>
    
    </header>
</div>
