<div class="inner">
    <header class="major">
    <h2 class="section-heading">Accomodations!</h2>
    <p >We will book a hotel block in downtown Denver and we’ll be running transportation to and from the ceremony venue.
        We’d love for you to take advantage of these locations for you to enjoy the party.</p>
        
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3071.3016478974982!2d-105.2078997847323!3d39.66542860891134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b832411e6f51f%3A0xb639c2beee3f3d3e!2sRed+Rocks+Amphitheatre!5e0!3m2!1sen!2sus!4v1522288625678" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
        
        <!-- <h4 class="hotel-name"><strong>TODO:</strong> Our Hotel</a></h4>
       <p>($X per night for double queen)<br />
        Please mention the Keyser/Trichter wedding block or use the link below in order to receive the discounted price.  Rooms are available on Friday and Saturday night.
        <br />
        <br />
        </p>
    <a href="" target="_blank" class="btn btn-default-primary btn-xl page-scroll"><strong>TODO:</strong>Book Here</a> -->
    </header>
</div>