<section class="spotlight" style="background: #808080">
    <div class="image">
      <img src="images/pic1.jpg" alt="Julia and David love some ukelele" />
    </div>
    <div class="content">
      <h2>Julia & David</h2>
    <p>Julia Keyser and David Trichter have been making music for a few years and have decided its time to make 
      more. They are excited for you to celebrate with them as they shout from the hills.
    </p>
    </div>
  </section>
  
  <section class="spotlight style1">
    <div class="content">
      <p>Aren't we cute?</p>
    </div>
    <div class="image">
      <img src="images/cubano.jpg" alt="Julia and David keeping it real" />
    </div>
  </section>

