<div class="inner">
  <header class="major">
    <h2>Come celebrate with us!</h2>
    <p>August 12, 2018</p>
	

<p>Red Rocks Amphitheatre Trading Post<br/>
17900 Trading Post Road,<br/>
Morrison, CO 80465</p>
	  
	  <p>Space Gallery 🚀<br/>
400 Sante Fe Drive<br/>
Denver, CO 80023</p>

<p><iframe src="https://www.google.com/maps/d/embed?mid=1Q24n8m0Bg6bMLIFAnBlgTtwhf47EziY9&hl=en" style="width: 75%; min-height:420px;"></iframe></p>
        

	
	<h2> The Schedule</h2>
	<table>
			<tbody>
			<tr>
					<td>Time</td>
					<td>Event</td>
			</tr>
			<tr>
			<td>1:30pm</td>
			<td>Shuttle from hotel</td>
			</tr>
			<tr>
			<td>2:00pm</td>
			<td>Ceremony at Red Rocks</td>
			</tr>
			<tr>
			<td>2:30pm</td>
			<td>Cocktail Hour</td>
			</tr>
			<tr>
			<td>4:00pm</td>
			<td>Shuttle to Space Gallery</td>
			</tr>
			<tr>
			<td>5:00pm</td>
			<td>Dinner & festivities!</td>
			</tr>
			</tbody>
			</table>
			<p>&nbsp;</p>
	</p>
	
	<p>
			<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MnRpbHFyZTV1NHBtZTNrNmowbjIxczV2djQgbGF1cmEuZ2VyaGFyZHRAbQ&amp;tmsrc=laura.gerhardt%40gmail.com"> Add this event to Google Calendar</a>
	</p>
	
	<p>Accepting applications for wedding hashtags ...#trickyKeyser is out</p>	
  </header>
</div>
