<div class="inner">
  <header class="major">
    <h2>Come celebrate with us!</h2>
    <p>August 12, 2018</p>
	

<p>Red Rocks Amphitheatre<br/>
17598 W Alameda Pkwy,<br/>
Morrison, CO 80465</p>

	
	<h4> The Schedule</h4>
	<table>
			<tbody>
			<tr>
					<td>Time</td>
					<td>Event</td>
			</tr>
			<tr>
			<td>1:30pm</td>
			<td>Shuttle from hotel</td>
			</tr>
			<tr>
			<td>2:00pm</td>
			<td>Ceremony at Red Rocks</td>
			</tr>
			<tr>
			<td>2:30pm</td>
			<td>Cocktail Hour</td>
			</tr>
			<tr>
			<td>4:00pm</td>
			<td>Shuttle to Space Gallery</td>
			</tr>
			<tr>
			<td>5:00pm</td>
			<td>Dinner & festivities!</td>
			</tr>
			</tbody>
			</table>
			<p>&nbsp;</p>
	</p>
	
	<p>
	<a target="_blank" href="#">TODO: Add this event to Google Calendar</a>
	</p>
	
	<p>Accepting applications for wedding hashtags ...#trickyKeyser is out</p>	
  </header>
</div>
