<div class="inner">
  <header class="major">
    <h2>Come celebrate with us!</h2>
    <p>August 12, 2018</p>
	

<p>Red Rocks Amphitheatre<br/>
17598 W Alameda Pkwy,<br/>
Morrison, CO 80465</p>

	
	<p> <strong>TODO:</strong>
	3:30 PM - Venue Opens<br>
	4:00 PM - Ceremony<br>
	5:00 PM - Cocktail Hour<br>
	6:00 PM - 10:00 PM - Reception
	</p>
	
	<p>
	<a target="_blank" href="#">TODO: Add this event to Google Calendar</a>
	</p>
	
	<p>Share photos with the hashtag <strong>#TrickyKeyser</strong></p>	
  </header>
</div>
