<div class="inner">
  <header class="major">
    <h2>Registry</h2>

	<p>We are honored you will share in our special day. Your presence is our gift, but if you would like please take a look at our registry by clicking on the logo below.<br/>
    <a href="https://www.williams-sonoma.com/registry/8zzhpjgcft/registry-list.html">
      <img src="images/william-sonoma.svg" alt="William Sonoma" style="width: 15%;min-width:125px; height: auto;">
    </a><br/>
  </p>
  <p>
    <em>Link to Honeyfund registry forthcoming</em>
  </p>

  </header>
</div>
