<div class="inner">
  <header class="major">
    <h2>Registry</h2>

	<p>We are honored you will share in our special day. Your presence is our gift, but if you would like please take a look at our registry below.<br/>
    <a href="https://www.williams-sonoma.com/registry/8zzhpjgcft/registry-list.html">
      <img src="images/william-sonoma.svg" alt="William Sonoma" style="width: 15%;min-width:125px; height: auto;" />
    </a><br/>
  </p>
  <p>
	  <a href="https://www.zola.com/registry/juliaanddavidduo">
	<img src="https://www.zola.com/images/logos/zola-registry-logo-white.svg" alt="Zola Registry" style="width: 15%;min-width:125px; height: auto;" />	  
	</a>
  </p>

  </header>
</div>
