<div class="inner">
  <header class="major">
    <h2>RSVP</h2>

	<form method="POST" action="http://formspree.io/keyser.julia@gmail.com ">
	  <input type="text" name="name" placeholder="Your name" />
	  <input type="text" name="email" placeholder="Your email"/>
	  <textarea name="message" placeholder="Let us know if you can come and who's coming!"></textarea>
	  <input type="text" name="_gotcha" style="display:none"/>
	  <br>
	  <button type="submit" style="background: #ae5d5f">RSVP</button>
	</form>
  </header>
</div>
